*{box-sizing: border-box;}

body{ background-color:beige;}

/*Style header */

header{margin-bottom: 25px;}

nav{display: flex;background-color: #bfd53c;}

.navbar{display: flex; justify-content: space-around;align-items: center;list-style: none;width: 100%;}

.input, .input_footer{display: flex;  background-color: #b37799;width: 9em;justify-content:center;align-items: center;font-size: 1.5em;
      font-weight:900;border-radius: 10px 0px ;height: 40px; box-shadow: 6px 6px 6px black;transition: 0.2s;}

a{color: black;}

.input:hover{width: 10em;height: 50px;}

.bar{display: none;}

/*Style footer */

footer{display: flex;justify-content: space-around;align-items: center;  background-color: #bfd53c;margin-top: 25px;}

.text_footer{font-size: 1em;font-family:'Times New Roman', Times, serif}

/*Style main index */

section{display: flex;flex-direction: row;align-items: last baseline;margin: 25px;border-bottom:5px solid #bfd53c;}

.container{display: flex;flex-direction: column;margin: 40px;}

p{font-family:'Times New Roman', Times, serif}

.img_index{width: 450px; height: 300px;margin: 25px;border-radius: 150px;}

h3{margin: 0;}

/*Style main producteurs locaux */

.product{display: flex;flex-direction: column;align-items: center;}

.title{font-size: 2.5em;font-family:'Times New Roman', Times, serif}

.subtitle{font-size: 1.5em;font-family:'Times New Roman', Times, serif}

.textcontent{font-size: 1.2em;font-family:'Times New Roman', Times, serif}

/*Style main login*/

form{display: flex;flex-direction: column;align-items: center;}

label{font-size: 2em;font-weight: bold;margin: 30px;}

input{height: 50px;width: 500px;font-size: 1.8em;text-align: center;border-radius: 10px;}

input:focus{border:6px solid #bfd53c;}

.button{height: 40px;width: 200px;margin: 40px;}

.button{background-color: #b37799;}

.button:hover{background-color: #bfd53c;}



/*Style error*/

.alert{display: flex;justify-content: center; background-color: red;}

/*Style accueil admin*/

.hello_admin{display: flex;justify-content: center;}

.info{display: flex;justify-content: center;font-size: 1.5em;}

/*Style tableau et éléments CRUD admin*/

.tableau{font-size: 1.5em;}

caption{font-size: 2em;margin-bottom: 20px;}

th{font-size: 2em;border:10px solid #bfd53c;width: 400px;}

td{text-align: center;font-size: 1.5em; border:10px solid #bfd53c;width: 400px;}

.recap{display: flex;flex-direction: column;align-items: center;font-size: 2em;}

.delete{width: 320px;margin: auto;  font-size: 1.5em;background-color: #b37799;
        height: 32px;border-radius: 10px;display: flex;  justify-content: center;}

.b_update{margin-top: 30px;}



/*Main mobile*/
@media (max-width: 350px) {

  section{flex-direction: column;}

  .img_index{width: 200px; height: 200px;} 
}
/*Main tablet*/
@media only screen and (min-width:350px) and (max-width: 990px) {

  section{flex-direction: column;}

  .img_index{width: 200px; height: 200px;}
}
/*Header tablet*/
@media only screen and (min-width:500px) and (max-width: 1260px) {
.navbar{flex-direction: column;}

.logo{width: 180px;height: 180px;}

.input{margin: 10px;}
}
/*Header mobile*/
@media (max-width: 500px) {

  nav{border-radius: 10px;}
  
  .navbar{flex-direction: column;}

  .logo{width: 100px;height: 100px;}
  
  .input_nav{margin: 10px;display: none;}

  .bar{display: flex;}

  .bar:hover{background-color: #b37799;border-radius: 10px;}
}
/*Footer mobile */
@media (max-width: 350px) {

  footer{flex-direction: column;border-radius: 10px;}

  .input_footer, .link_social{margin: 10px;}
}