*{box-sizing: border-box;}

body{

    background-color:beige;
}

p {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    width: 600px;
    padding: 20px ;
}
.contenair {
   /* opacity:0.8;*/
    display:grid;
    grid-template-columns: 3fr 2fr 2fr 2fr;
     align-items: center;
     justify-items: center;
     background-color: #bfd53c;
     border-radius: 10px;
     
  
 }

.nav1, .nav2, .nav3, .a{
    display:grid;
    background-color: #b37799;
    width: 140px;
    height: 35px;
    justify-items: center;
    align-items:center;
    border-radius: 5px;
    font-weight: bold;
    font-size:16px;
    box-shadow: 6px 6px 6px black;
    
}

.facademag{

    display:grid;
    justify-content:center;
    padding-top: 10px;
     }

.contenair2{

    display: grid;
    grid-template-areas:
     "one two three" 
     "one two three "
     "one two three" ;                   
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    align-items: center;
    justify-items: center;
}

.flmag, .fete, .vin {

   
    border-radius: 15px;
 
}

.p1, .p2, .p3, .recette{
    
    color:black;
    background-color: #bfd53c;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    
   
}

.p2{

    grid-area:2/1;
}
.vin{

    grid-area:two;
}
.p1{

    grid-area:1/2;
}
.p3{

    grid-area:3/2;
}
.fete{

    grid-area:3/1

}
.map{

    grid-area: 3/3;
}
.recette{

    grid-area: 1/3/3;
}
footer{
    opacity:0.8;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#bfd53c;
    border-radius:10px;
}
.wrapevent{

    display:grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "one two";
    padding: 10px;
}
.event{
    display: grid;
    width:400px;
    height: 200px;
    grid-area: one;
    border:5px solid black;
    border-radius: 10px;
    background-color: #bfd53c;
   
}
.promofl{
    
    width:400px;
    height: 200px;
    grid-area: two;
    border:5px solid black;
    border-radius: 10px;
    background-color: #bfd53c;
}

.banniere2{
   
    padding: 100PX;
    height: 550PX;
    width: 1800PX;
    background-image:url("img.proxi/fondecranmini4.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.pevent, .ppromo{
    padding-left: 50px;
    text-align: justify;
}
.acceuil{
    
    display: flex;
    
    justify-content: center;
    text-shadow: 10px 10px 10px;
}
img{

    border-radius:50%;
}
.contenair3{

    display: grid;
    grid-template-areas:
     "one two " 
     "three four ";
                        
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr  ;
    align-items: center;
    justify-items: center;
}
.grid{
    grid-area: one;
}
.contact{
    grid-area:two;
}
.address{
    grid-area:three;
}